@use "abstracts/variables/colors" as colors;

.NavMenu {
  height: 100%;

  &__List {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  &__Item {
    padding-left: 4rem;

    &:first-child {
      padding-left: 0;
    }
  }

  &__SubList {
    list-style: none;
    margin: 0;
    padding: 0.5rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
}
