@use "../../Atoms/SpatialAtoms/spacing/spacing-variables" as space;

.showcase-template {
  display: flex;
  flex-direction: column;
  gap: space.$space-xl;
  padding: space.$space-lg 0;

  &__header {
    width: 100%;
  }

  &__main {
    width: 100%;
  }
}
