// ReadBoot Primitive Tokens (Ref)
$ref-font-fun: 'Baloo 2', display;
$ref-font-clean: 'Inter', sans-serif;

// ReadBoot Semantic Tokens (Sys)
$sys-font-headline: $ref-font-fun;
$sys-font-body: $ref-font-clean;
