@use "../../BrandingAtoms/Mixins/button-mixins" as mixins;

.button {
  @include mixins.button-base;
  background-color: var(--sys-color-paper-bg);
  color: var(--sys-color-ink-text);

  &--action {
    background-color: var(--sys-color-action-primary);
    color: var(--sys-color-paper-bg);
  }
}
