@use "sass:color";
@use "../../Atoms/Branding/Colors/colors-variables" as vars;
@use "../../Atoms/Branding/Typography/fonts-variables" as fonts;
@use "../../Atoms/Spatial/Spacing/spacing-variables" as space;

.NavigationMenu {
  &__List {
    display: flex;
    list-style: none;
    gap: space.$space-2xl;
    align-items: center;
  }

  &__Item {
    position: relative;
    padding: space.$space-sm 0;

    a {
      text-decoration: none;
      font-family: fonts.$sys-font-headline;

      &:hover,
      &:focus {
        color: vars.$sys-color-action-primary;
      }
    }

    &:hover > .NavigationMenu__SubList {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__SubList {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 220px;
    background: vars.$sys-color-paper-light-bg;
    border: 1px solid vars.$sys-color-dark-border;
    box-shadow: 0 space.$space-md space.$space-lg calc(-1 * #{space.$space-xs})
      color.change(vars.$sys-color-ink-dark-text, $alpha: 0.1);
    padding: space.$space-sm 0;
    list-style: none;
    z-index: 50;

    opacity: 0;
    visibility: hidden;
    transform: translateY(space.$space-md);
    transition: all 0.2s ease-in-out;
  }

  &__SubItem {
    padding: space.$space-md calc(#{space.$space-lg} + #{space.$space-xs});
    white-space: nowrap;

    &:hover {
      background-color: color.adjust(vars.$sys-color-paper-light-bg, $lightness: -3%);
    }
  }

  [data-theme='dark'] & {
    a:hover,
    a:focus {
      color: vars.$sys-color-action-on-dark;
    }

    .NavigationMenu__SubList {
      background: vars.$sys-color-paper-dark-bg;
      border-color: vars.$sys-color-light-border;
    }

    .NavigationMenu__SubItem:hover {
      background-color: color.adjust(vars.$sys-color-paper-dark-bg, $lightness: 10%);
    }
  }
}
