@use "../../SpatialAtoms/spacing/spacing-variables" as space;
@use "../../BrandingAtoms/Colors/colors-variables" as vars;
@use "../../SpatialAtoms/geometric/geometric-variables" as geom;

.container {
  display: grid;
  margin: 0;
  padding: 0;
  border: none;
  gap: space.$space-2xl;
  align-items: center;

  &--bordered {
    min-height: 80vh;
    margin: space.$space-2xl;
    padding: space.$space-3xl space.$space-2xl;
    border: 4px solid vars.$sys-color-dark-border;
    border-radius: geom.$sys-geom-radius-main;

    [data-theme='dark'] & {
      border-color: vars.$sys-color-light-border;
    }
  }

  // Variant Canvas Maps [2]
  &.centered { grid-template-areas: "content"; justify-items: center; text-align: center; }
  &.split { grid-template-areas: "content media"; grid-template-columns: 1fr 1fr; }
  &.asymmetrical { grid-template-areas: "content media"; grid-template-columns: 3fr 2fr; }
  &.preview { grid-template-areas: "content media"; grid-template-columns: 45% 55%; }

  @media (max-width: 768px) {
    grid-template-areas: "content" "media";
    grid-template-columns: 1fr;
    text-align: center;
  }
}
