@use "../../animations/animations" as fx;
@use "../../SpatialAtoms/geometric/geometric-variables" as geom;

.typography {
  color: var(--sys-color-ink-text);
  margin: 0;

  &--h1 {
    font-family: var(--sys-font-headline);
    font-size: geom.to-rem(48px);
    line-height: 1.2;
    margin-bottom: geom.$space-md;
  }

  &--body {
    font-family: var(--sys-font-body);
    font-size: geom.to-rem(16px);
    line-height: 1.6;
    margin-bottom: geom.$space-sm;
  }

  // Effect: Glitch Modifier
  &.fx--glitch {
    // Keyframes imported from global Base styles
    animation: glitch-anim 1s linear infinite;
  }
}
