@use "BrandingAtoms/Colors/colors-variables" as colors;
@use "SpatialAtoms/spacing/spacing-variables" as space;
@use "SpatialAtoms/geometric/geometric-variables" as geom;

.container {
  padding: space.$space-lg;
  border: 1px solid colors.$sys-color-status-error;
  margin: space.$space-lg;
  border-radius: geom.$sys-geom-radius-main;
}

.retryButton {
  padding: space.$space-sm space.$space-lg;
  cursor: pointer;
}
