@use "sass:color";
@use "../../../Atoms/Spatial/Spacing/spacing-variables" as space;
@use "../../../Atoms/Spatial/geometric/geometric-variables" as geom;
@use "../../../Atoms/Branding/Colors/colors-variables" as vars;
@use "../../../Atoms/Branding/Typography/fonts-variables" as fonts;

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: geom.$sys-geom-radius-main;
  transition:
    transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  background: vars.$sys-color-paper-light-bg;
  border: geom.$sys-geom-border-main solid vars.$sys-color-dark-border;

  [data-theme='dark'] & {
    background: vars.$sys-color-paper-dark-bg;
    border-color: vars.$sys-color-light-border;
  }

  &:hover {
    transform: translateY(calc(-1 * #{space.$space-xs}));
    box-shadow: 0 space.$space-md space.$space-lg
      color.change(vars.$sys-color-ink-dark-text, $alpha: 0.1);
  }

  &__imageWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  &__content {
    padding: space.$space-xl;
    display: flex;
    flex-direction: column;
    gap: space.$space-md;

    h3 {
      font-family: fonts.$sys-font-headline;
      margin: 0;
    }
  }

  &__link {
    font-weight: 600;
    text-decoration: none;
    color: vars.$sys-color-action-primary;

    [data-theme='dark'] & {
      color: vars.$sys-color-action-on-dark;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
