@use "../abstracts/variables/colors";
@use "../abstracts/variables/fonts";
@use "../abstracts/mixins/animations";
@use "./typography" as *;
@use "./base" as *;

@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Inter:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: colors.$sys-color-paper-bg;
  color: colors.$sys-color-ink-text;
  font-family: fonts.$sys-font-body;
}
