@use "../../Branding/Colors/colors-variables" as vars;

.viewport-container {
  background: vars.$sys-color-paper-light-bg;
  width: 100%;
  margin: 0 auto;

  [data-theme='dark'] & {
    background: vars.$sys-color-paper-dark-bg;
  }
}
