@use "../../Branding/Colors/colors-variables" as vars;

.NavigationLink {
  color: vars.$sys-color-ink-dark-text;
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  display: inline-block;
  position: relative;

  &:hover,
  &:focus {
    color: vars.$sys-color-action-primary;
    outline: none;
  }

  &--active {
    color: vars.$sys-color-action-primary !important;
    font-weight: 700;
    border-bottom: 3px solid vars.$sys-color-action-primary;
  }

  [data-theme='dark'] & {
    color: vars.$sys-color-ink-light-text;

    &:hover,
    &:focus {
      color: vars.$sys-color-action-on-dark;
    }
  }

  [data-theme='dark'] &#{&}--active {
    color: vars.$sys-color-action-on-dark !important;
    border-bottom-color: vars.$sys-color-action-on-dark;
  }
}
