@use "../../Branding/Colors/colors-variables" as vars;
@use "../../Spatial/Spacing/spacing-variables" as space;
@use "../../Branding/Motion/motion-variables" as motion;

.NavigationLink {
  color: vars.$sys-color-ink-dark-text;
  text-decoration: none;
  transition: all motion.$ref-duration-normal motion.$ref-ease-standard;
  padding: space.$space-sm space.$space-lg;
  display: inline-block;
  position: relative;

  &:hover,
  &:focus {
    color: vars.$sys-color-action-primary;
    outline: none;
  }

  &--active {
    color: vars.$sys-color-action-primary !important;
    font-weight: 700;
    border-bottom: calc(0.75 * #{space.$space-xs}) solid vars.$sys-color-action-primary;
  }

  [data-theme='dark'] & {
    color: vars.$sys-color-ink-light-text;

    &:hover,
    &:focus {
      color: vars.$sys-color-action-on-dark;
    }
  }

  [data-theme='dark'] &#{&}--active {
    color: vars.$sys-color-action-on-dark !important;
    border-bottom-color: vars.$sys-color-action-on-dark;
  }
}
