@use "BrandingAtoms/Colors/colors-variables" as colors;

.spacingBar {
  height: 1.25rem;
  background-color: colors.$sys-color-action-primary;
}

.w0 { width: 0; }
.w4 { width: 4px; }
.w8 { width: 8px; }
.w12 { width: 12px; }
.w16 { width: 16px; }
.w24 { width: 24px; }
.w32 { width: 32px; }
.w48 { width: 48px; }
