.NavigationLink {
  color: var(--sys-color-ink-text);
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  display: inline-block;
  position: relative;

  &:hover,
  &:focus {
    color: var(--sys-color-action-primary);
    outline: none;
  }

  &--active {
    color: var(--sys-color-action-primary);
    font-weight: 700;
    border-bottom: 3px solid var(--sys-color-action-primary);
  }
}
