@use "BrandingAtoms" as branding;

.NavigationLink {
  // font-family: branding.$sys-font-headline;
  // color: branding.$sys-color-action-primary;
  color: branding.$sys-color-ink-text;
  text-decoration: none;
  transition: all 0.3s ease;
  padding: .5rem 1rem;
  display: inline-block;
  position: relative;
  // font-size: 1.25rem;
  // background-color: branding.$sys-color-status-warning;

  &:hover, &:focus {
    color: branding.$sys-color-action-primary;
    // color: branding.$sys-color-status-warning;
    outline: none;
  }

  &--active {
    color: branding.$sys-color-action-primary;
    // background-color: branding.$sys-color-status-warning;
    font-weight: 700;
    border-bottom: 3px solid branding.$sys-color-action-primary;
  }

}
