@use "abstracts/variables/colors" as colors;

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px; // Matches your base.scss header height
  padding: 0 2rem;
  background-color: colors.$sys-color-paper-bg;
  border-bottom: 1px solid colors.$sys-color-ink-text;

  &__Logo {
    width: 100px;
    height: 100%;
    position: relative;
  }

  &__Menu {
    height: 100%;
  }
}
