@use "sass:map";
@use "../variables/colors" as vars;

@mixin set-color-scheme($scheme) {
  $map: map.get(vars.$color-pairings, $scheme);

  @if $map {
    background-color: map.get($map, "bg");
    color: map.get($map, "text");
  } @else {
    @error "Unknown color scheme: #{$scheme}. Please check _colors.scss.";
  }
}
