@use "Tokens/geometric-variables" as geom;
@use "Tokens/Colors" as vars;
@use "Tokens/Mixins" as mixins;
@use "Tokens/motion-variables" as motion;

.button {
  @include mixins.button-base;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: geom.$sys-geom-radius-main;

  transition: transform motion.$ref-duration-normal motion.$ref-ease-bouncy;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.98);
  }

  &--action-on-light {
    background-color: vars.$sys-color-action-primary;
    color: vars.$sys-color-paper-light-bg;
  }

  &--outline-on-light {
    background-color: vars.$sys-color-paper-light-bg;
    color: vars.$sys-color-ink-dark-text;

    [data-theme='dark'] & {
      background-color: vars.$sys-color-paper-dark-bg;
      color: vars.$sys-color-ink-light-text;
      border-color: vars.$sys-color-light-border;
    }
  }
}
