@use "../../Atoms/Branding/Colors/colors-variables" as vars;
@use "../../Atoms/Spatial/Spacing/spacing-variables" as space;

.NavigationBar {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 space.$space-2xl;
  background-color: vars.$sys-color-paper-light-bg;
  border-bottom: 1px solid vars.$sys-color-dark-border;

  &__Logo {
    width: 100px;
    height: 100%;
    position: relative;
  }

  &__Menu {
    height: 100%;
  }

  &__Theme {
    display: flex;
    align-items: center;
  }

  [data-theme='dark'] & {
    background-color: vars.$sys-color-paper-dark-bg;
    border-bottom-color: vars.$sys-color-light-border;
  }
}
