@use "BrandingAtoms" as branding;

.NavigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px; // Matches your base.scss header height
  padding: 0 2rem;
  background-color: branding.$sys-color-paper-bg;
  border-bottom: 1px solid branding.$sys-color-ink-text;

  &__Logo {
    width: 100px;
    height: 100%;
    position: relative;
    //  background-color: branding.$sys-color-ink-text;
  }

  &__Menu {
    height: 100%;
  }
}
