@use "../../Atoms/BrandingAtoms/Colors/colors-mixins" as colors;
@use "../../Atoms/BrandingAtoms/Typography/fonts-variables" as fonts;

.banner {
  font-family: fonts.$sys-font-headline;
  font-weight: 700;
  text-align: center;
  padding: 0.75rem 1rem;
  font-size: 0.9rem;
  width: 100%;
  display: block;
  @include colors.apply-pairing("alert");
}
