@use "../../../Atoms/Spatial/Spacing/spacing-variables" as space;
@use "../../../Atoms/Spatial/geometric/geometric-variables" as geom;
@use "../../../Atoms/Branding/Colors/colors-variables" as vars;
@use "../../../Atoms/Branding/Typography/fonts-variables" as fonts;

.project-card {
  display: flex;
  flex-direction: column;
  padding: space.$space-lg;
  gap: space.$space-md;

  // Futurist Carton Standards
  background-color: vars.$sys-color-paper-light-bg;
  border: geom.$sys-geom-border-main solid vars.$sys-color-dark-border;
  border-radius: geom.$sys-geom-radius-main; // 12px radius token

  [data-theme='dark'] & {
    background-color: vars.$sys-color-paper-dark-bg;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: space.$space-xs;
    align-items: flex-start;
  }

  &__title {
    margin: 0;
    line-height: 1.2;
  }

  &__excerpt {
    font-family: fonts.$sys-font-body;
    color: vars.$sys-color-ink-dark-text;

    p { margin: 0; }
  }

  &__meta {
    display: flex;
    flex-direction: column;
    gap: space.$space-sm;
    margin-bottom: space.$space-md;
  }

  &__metric {
    font-weight: 800;
    color: vars.$sys-color-action-primary;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: space.$space-xs;
  }

  &__footer {
    margin-top: auto;
  }
}
