@use "./global-mixins" as global;
@use "../Geometric/geometric-variables" as geom;
@use "../Colors/colors-variables" as vars;
@use "../Fonts/fonts-variables" as fonts;
@use "../Motion/motion-variables" as motion;

@mixin button-base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border: geom.$sys-geom-border-main solid vars.$sys-color-dark-border;
  border-radius: geom.$sys-geom-radius-main;
  padding: global.to-rem(12px) global.to-rem(24px);
  font-family: fonts.$sys-font-headline;
  font-weight: 700;

  // Standard ReadBoot Bounce [1]
  transition: transform motion.$ref-duration-slow motion.$ref-ease-spring;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}
